PORT=2000
ENVIRONMENT=local
LOG_LEVEL=info

DEV_MODE=true

DATABASE_URL=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_MAX_CONNECTIONS=10
DATABASE_KEEP_ALIVE=true

DATA_API_BASE_URL=http://127.0.0.1:2200

# Better auth
BETTER_AUTH_SECRET=
BETTER_AUTH_BASE_URL=http://127.0.0.1:2000

# Mail server variables
RESEND_API_KEY=